@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,800&family=Poppins:ital,wght@0,300;0,400;0,700;1,600&display=swap');
:root{
    --padding-container: 100px 0;
    --color-title: #001a49;
}
body{
    
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 90%;
    max-width:  1200px;
    margin: 0 auto;
    overflow: hidden;
    
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/computerr.jpg');
    background-size: cover;
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 88%, 0 0);
    z-index: -1;
}

.nav{
    --padding-container : 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_title{
    font-weight: 300;
}

.nav_items{
    list-style: none;
}

.nav_link{
margin-left: auto;
padding: 0;
display: grid;
grid-auto-flow: column;
grid-auto-columns: max-content;
gap:2em;
}

.nav_links{
    color: #fff;
    text-decoration: none;
}

.nav_menu{
    margin-left: auto;  
    cursor: pointer;
    display: none;
}

.nav_img{
    display: flex;
    width: 30px;
    display: block;

}

.nav_close{
    display: var(--show,none);
}

/* hero container */

.hero_container{
    max-width: 800px;
    display: grid;
    --padding-container:0;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero_title{
    font-size: 3rem;
}

.hero_pa ragraph{
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    background-color: #2091f9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 30px;
}

.about{
    text-align: center;
}

.subtitle{
    color:  var(--color-title);
    font-size: 2rem;
    margin-bottom: 20px;
}

.about_paragraph{
    line-height: 1.7;
}

.about_main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1rem;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about_icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

/* KNOWLEDGE */
.knowledge{
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    overflow: hidden;
}

.knowledge_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}


.knowledge_picture{
    max-width: 500px;
    max-height: 300px;
}


.knowledge_image{

    width: 100%;
    display: block ;
    height: 10%;
}

.knowledge_paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

/* prices */

.price{
    text-align: center;
}

.price_table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.price_element{
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
        --color-plan:#696871;
        --color-price:#1d293f;
        --bg-cta:#fff;
        --color-cta: #5454d4;
        --color-items: #696871; 
}

.price_element-best{
    width: 370px;
    padding: 60px 50px;
    background-color: #FF7143;
    --color-plan: rgb(255 255 255 /75%);
    --color-price: #fff;
    --bg-cta: #9F3919;
    --color-cta: #fff;
    --color-items: #fff; 
    
}

.price_price{

    font-size: 1.5rem;
    color: var(--color-price)

}

.price_items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}

.price_cta{
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

.testimony{
    background-color: #e5e5f7;
}

.testimony_container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimony_body{
    display:grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity:0 ;
    pointer-events: none;

}

.testimony_body-show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony_img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony_course{
    background-color: royalblue;
    color: #fff;
    display: inline-block;
    padding: 5px;
}

/* questions */

.questions{
    text-align: center;
}

.questions_container{
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}

.questions_padding{
    padding: 0;
    transition: padding .2s;
    border: 1px solid #5454D4;
    border-radius: 6px;
}

.questions_padding-add{
    padding-bottom: 30px;
}

.questions_answer{
    padding: 0 30px 0;
    overflow: hidden;
}

.questions_title{
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}

.questions_arrow{
    border-radius: 50%;
    background-color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition: transform .3s;
}

.questions_arrow-rotate{
    transform: rotate(180deg);
}

.questions_show{
    text-align: left;
    height: 0;
}
.questions_img{
    display: block;
    
} 

.questions_copy{

    width : 60%;
    margin : 0 auto;
    margin-bottom: 30px;

}

.footer{
    background-color: #1d293F;

}

.footer_title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer_title, .footer_newsLetter{ 
    color: #fff;
}


.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}
.nav_link-footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer_inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer_input{
    background-color: #fff;
    height: 50px;
    display: flex;
    padding-left: 10px;
    border-radius: 6px ;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;

}

.footer_submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #2091f9;
    border:none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
}

.footer_copy{
 
    color: #fff;
    --padding-container: 30px 0;
    text-align: center;

}

.footer_copyRight{
    font-weight: 300;
}

.footer_icons{
    color: #fff;
    display: inline-flex;
    margin-bottom: 10px;

}

.footer_img{
    width: 30px;
}


/* MEDIA QUERIES */

@media (max-width:800px){
    .nav_menu{
        display: block;
    }

    .nav_link-menu{
        position: fixed;
        background-color: #000;
        top:0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav_link-show{
        --show:block;
        opacity: 1;
        pointer-events: unset;

    }

    .nav_close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
    }
    

}